* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family:
    "Funnel Sans",
    Material Design Icons,
    JetBrainsMono Nerd Font,
    Iosevka Nerd Font;
  font-size: 15px;
  font-weight: 400;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0);
  color: #c0caf5;
  transition-property: background-color;
  transition-duration: 0.5s;
  min-height: 10px;
}

window#waybar.hidden {
}

#clock,
#cpu,
#memory,
#custom-media,
#mode,
#tray,
#custom-lock,
#workspaces,
#idle_inhibitor,
#custom-power-menu,
#custom-launcher,
#custom-spotify {
  padding: 5px 10px;
  border-radius: 0px;
  margin: 5px 5px 0px 5px;
  border: 2px solid rgba(192, 202, 245, 0.2);
  background-color: rgba(16, 16, 15, 0.33);
}

#backlight,
#battery,
#pulseaudio,
#network,
#bluetooth {
  padding: 0 8px;
  margin: 5px 0 0px 0;
  border: 2px solid rgba(192, 202, 245, 0.2);
  border-right: none;
  border-left: none;
}

#pulseaudio.muted {
  color: #7dcfff;
}

#pulseaudio {
  border-radius: 0px 0px 0px 0px;
  border: 2px solid rgba(192, 202, 245, 0.2);
  border-right: none;
  margin-left: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

#bluetooth.disabled {
  color: #565f89;
}

#bluetooth.connected {
  color: #7dcfff;
}

#network.disconnected {
  color: #ff9e64;
}

#backlight {
  border-radius: 0px 0px 0px 0px;
  border: 2px solid rgba(192, 202, 245, 0.2);
  border-left: none;
  margin-right: 5px;
  padding-right: 10px;
}

#battery {
  padding-right: 13px;
}

#battery.critical:not(.charging) {
  color: #f7768e;
}

#battery.warning {
  color: #cfc9c2;
}

#battery.full,
#battery.plugged,
#battery.charging {
  padding-right: 5px;
  color: #9ece6a;
}

#custom-power-menu {
  padding: 0 17.5px 0 14px;
}

tooltip {
  border-radius: 12px;
  border: 1px solid rgba(154, 165, 206, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

tooltip label {
  font-family: "Funnel Sans";
  font-size: 14px;
  font-weight: 500;
  padding: 2.5px 5px;
  color: #c0caf5;
}

label:focus {
  background-color: #1f232b;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: rgba(30, 34, 42, 0.5);
}
