* {
    background:     #24283bEE;
    background-alt: #414868FF;
    foreground:     #C0CAF5FF;
    border:         #C0CAF5EE;
    selected:       #7AA2F7FF;
    active:         #BB9AF7FF;
    urgent:         #9ECE6AFF;
}
