* {
    background:     #24283bEE;
    background-alt: #414868FF;
    foreground:     #C0CAF5FF;
    selected:       #7AA2F7FF;
    border:         rgba(192, 202, 245, 0.1);
    active:         #BB9AF7FF;
    urgent:         #9ECE6AFF;
}
