* {
    background:     #10100FBB;
    background-alt: #10100F88;
    foreground:     #f1f2f499;
    selected:       #f1f2f499;
    selected-mode:  #f1f2f499;
    active:         #f1f2f422;
    urgent:         #10100FBB;
    border-list:    #10100F00;
}
